#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  nginx.service
BindsTo=tailscale.service
After=tailscale.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/nginx.pid %t/nginx.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/nginx.pid \
    --cidfile %t/nginx.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/tailscale.pod-id --replace -d --name  nginx \
    ${NGINX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/nginx.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP nginx
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/nginx.ctr-id
PIDFile=%t/nginx.pid
Type=forking

[Install]
WantedBy=default.target
