#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  tailscale-app.service
BindsTo=tailscale.service
After=tailscale.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=300
ExecStartPre=/bin/rm -f %t/tailscale-app.pid %t/tailscale-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/tailscale-app.pid \
    --cidfile %t/tailscale-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/tailscale.pod-id --replace -d --name  tailscale-app \
    --cap-add NET_ADMIN,SYS_MODULE \
    --device /dev/net/tun:/dev/net/tun \
    --volume tailscale-app:/var/lib/tailscale:z \
    --env TS_EXTRA_ARGS="--advertise-tags=tag:container --login-server=${LOGIN_SERVER}" \
    --env TS_STATE_DIR=/var/lib/tailscale \
    --env TS_HOSTNAME=${TS_HOSTNAME} \
    --env TS_AUTHKEY=${TS_AUTHKEY} \
    ${TAILSCALE_IMAGE}
ExecStartPost=-/usr/bin/podman exec -ti tailscale-app tailscale set --webclient=${ENABLE_WEB_INTERFACE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/tailscale-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP tailscale-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/tailscale-app.ctr-id
PIDFile=%t/tailscale-app.pid
Type=forking

[Install]
WantedBy=default.target
