#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a tailscale instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman tailscale.service
Requires=tailscale-app.service
Before=tailscale-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/tailscale.pid %t/tailscale.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/tailscale.pid \
    --pod-id-file %t/tailscale.pod-id \
    --name tailscale \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/tailscale.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/tailscale.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/tailscale.pod-id
PIDFile=%t/tailscale.pid
Type=forking

[Install]
WantedBy=default.target
